page-parish {

    .class {
        /* Rectangle 7: */
        background: #F23054;
        border: 1px solid #979797;
    }
    .animated.fadeInDown{
        /* 교구: */
        font-family: AppleSDGothicNeo-Regular;
        font-size: 32px;
        color: #FFFFFF;
    }

    .animated.zoomIn{
        /* Parish: */
        font-family: AppleSDGothicNeo-Regular;
        font-size: 24px;
        color: #FFFFFF;
    }
}
