page-home {
    .title-image {
        margin-top: 8px;
        height: 27px;
    }
    
    .swiper-pagination-bullet-active {
        background: white;
    }

    ion-slides swiper-slide{
        left: 25%;
        width: 25%;
    }

    ion-slide {
        background-color: #e1e4e2;
    }

    ion-item p {        
        display:block;
        overflow: hidden; 
        text-overflow: ellipsis;
        white-space: normal; 
        width: auto;
    }
}
